html {
	box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing:inherit;
}

header {
	font-size: 30px;
}

p {
	margin-left: 20px;
}

ul{
	margin-left: 40px;
}

li{
	margin-top: 20px;
}
pre {
	margin-left: 40px;
	margin-right: 60px;
	background-color: rgb(247, 247, 247);
	
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	border-radius: 5px;
}

#navbar {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height:100%;
	position: fixed;
	border-right: 2px solid rgb(153, 162, 162);
	width: 340px;
	margin-top: -10px;
}
	
.nav-header{
	padding-left: 20px;
	
}
.nav-link{
	text-decoration: none;
	color: rgb(77, 78, 83);
	font-size: 17px;
	border-top: 1px solid rgb(77, 78, 83);
  margin-left: -10px; 
  padding-left: 30px;
  padding-top: 15px;
}

.main-section {
	margin-left: 400px;

}

#Reference{
	margin-bottom: 100px;
}

#Introduction {
	padding-top: 25px;
}

@media (max-width: 500px) {
	header{
		font-size: 15px;
	}

	#navbar{
		display: flex;
		position: fixed;
		flex-direction: column;
		height:400px;
		position: fixed;
		width: 100%;
		background-color: white;
		

	}

	.nav-header{
		border-bottom: 1px solid rgb(77, 78, 83);
		padding-bottom: 5px;
		padding-left: 380px;
	}
	.nav-link {
		font-size: 10px;
		border-bottom: 1px solid rgb(77, 78, 83);
		border-top: none;
		padding-top: 0px;
		padding-bottom: 5px;
		padding-left: 400px;
	}
	#Introduction{
		padding-top: 400px;
	}
	.main-section{
		margin-left: 0px;
	}
}


